# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Outputs générés (optionnel — on les commit pour la démo)
# outputs/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
